{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ recipe.name }}</h1>
    <br>
    Servings: {{  recipe.servings }}<br>
    Total Calories: {{ recipe.total_calories }}<br>
    Calories per Serving: {{ recipe.calories_per_serving }}<br><br>

    Ingredients:<br>
    {% for ingredient in recipe.ingredients %}
    {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.quantity_type }}<br>
    {% endfor %}
    <br>
    Instructions:<br>
    <p>{{ recipe.instructions }}</p>

{% endblock %}